{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'track/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'track/main.css' %}" />
    {% if title %}
    <title>Track - {{title}}</title>
    {% else %}
    <title>Track - untitled</title>
    {% endif %}
  </head>
  <body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">DH Tracker</a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarToggle"
            aria-controls="navbarToggle"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            {% if user.is_authenticated %}
            <div class="navbar-nav mr-auto">
              <div class="nav-item text-capitalize text-white">
                Welcome, {{user}}
              </div>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="{% url 'contact' %}"
                >Add Visitor</a
              >
              <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
            </div>
            {% else %}
            <div class="navbar-nav mr-auto"></div>
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main role="main" class="container">
      <div class="row">
        <!-- <div class="col-md-8"> -->
        <div class="col-md-8 container">
          {% if messages %} {% for message in messages %}
          <div
            class="alert alert-{{message.tags}} alert-dismissible fade show"
            role="alert"
          >
            {{message}}
            <button
              type="button"
              class="close"
              data-dismiss="alert"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% endfor %} {% endif %} {% block content %}{% endblock %}
        </div>
      </div>
    </main>
    <script
      src="{% static 'track/jquery-3.3.1.min.js' %}"
      async
      defer
    ></script>
    <script src="{% static 'track/bootstrap.min.js' %}" async defer></script>
  </body>
</html>
